docs/n8n-workflow.json
{
  "name": "ClimaStyle",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weather",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "924382c9-1ff3-4b15-911c-1ef05ee02295",
      "name": "Inicio",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1840,
        144
      ],
      "webhookId": "17ed432a-12f1-44fc-aafd-bd0212b044ec"
    },
    {
      "parameters": {
        "url": "https://geocoding-api.open-meteo.com/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.city }}"
            }
          ]
        },
        "options": {}
      },
      "id": "beaaba27-a171-447a-abcf-7e4d29006098",
      "name": "Buscar datos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1440,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = $json.results[0];\nreturn [{ json: { city: result.name, latitude: result.latitude, longitude: result.longitude } }];"
      },
      "id": "78a9e7e2-6de2-4503-917b-685d2635c8b8",
      "name": "Extraer coordenadas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        144
      ]
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "={{ $json.latitude }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.longitude }}"
            },
            {
              "name": "current",
              "value": "temperature_2m,relative_humidity_2m,apparent_temperature,wind_speed_10m,weather_code"
            },
            {
              "name": "timezone",
              "value": "auto"
            }
          ]
        },
        "options": {}
      },
      "id": "60072354-607b-4e47-be50-ce51ede0fd2d",
      "name": "Extraer datos de ciudad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1040,
        144
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "city",
              "value": "={{$json.body.city}}"
            }
          ]
        },
        "options": {}
      },
      "id": "aa93c74f-8268-46ef-84d0-a8715d828e0b",
      "name": "Ciudad",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1632,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const current = $json.current;\n\nconst temperature = current.temperature_2m;\nconst humidity = current.relative_humidity_2m;\nconst wind = current.wind_speed_10m;\nconst feelsLike = current.apparent_temperature;\nconst code = current.weather_code;\n\nconst city = $items(\"Extraer coordenadas\")[0].json.city;\n\nlet condition = \"Desconocido\";\nlet recommendation = \"\";\n\n// Condición del clima\nif (code === 0) {\n  condition = \"Cielo despejado\";\n}\nelse if (code >= 1 && code <= 3) {\n  condition = \"Parcialmente nublado\";\n}\nelse if (code >= 45 && code <= 48) {\n  condition = \"Niebla\";\n}\nelse if (code >= 51 && code <= 67) {\n  condition = \"Lluvia ligera\";\n}\nelse if (code >= 71 && code <= 77) {\n  condition = \"Nieve\";\n}\nelse if (code >= 80 && code <= 82) {\n  condition = \"Chubascos\";\n}\nelse if (code >= 95) {\n  condition = \"Tormenta eléctrica\";\n}\n\n// Recomendación basada en sensación térmica\nif (feelsLike >= 30) {\n  recommendation = \"Hace bastante calor. Usa ropa ligera y mantente hidratado.\";\n}\nelse if (feelsLike >= 24) {\n  recommendation = \"Clima cálido. Ropa fresca es recomendable.\";\n}\nelse if (feelsLike >= 18) {\n  recommendation = \"Temperatura agradable.\";\n}\nelse {\n  recommendation = \"Podrías necesitar una chaqueta ligera.\";\n}\n\n// Ajuste si llueve\nif (code >= 51 && code <= 82) {\n  recommendation += \" También es recomendable llevar paraguas.\";\n}\n\nreturn [\n  {\n    json: {\n      city: city,\n      temperature: temperature,\n      humidity: humidity,\n      wind: wind,\n      feels_like: feelsLike,\n      condition: condition,\n      recommendation: recommendation\n    }\n  }\n];"
      },
      "id": "fadf547d-e085-4979-b3b2-8888501f6153",
      "name": "Extraer datos especificos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        144
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=En un mensaje corto recomienda ropa según el clima. Sé amigable, divertido y claro.\n\nCiudad: {{$json.city}}\nTemperatura: {{$json.temperature}}°C\nSensación térmica: {{$json.feels_like}}°C\nHumedad: {{$json.humidity}}%\nViento: {{$json.wind}} km/h\nCondición del clima: {{$json.condition}}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -624,
        144
      ],
      "id": "85628ca2-de83-4783-bbde-725ba1c0ef59",
      "name": "Mensaje",
      "credentials": {
        "googlePalmApi": {
          "id": "TGHp0xt6ggmaPb6t",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rec =\n$json.candidates?.[0]?.content?.parts?.[0]?.text ||\n$json.content?.parts?.[0]?.text ||\n$json.text ||\n\"Sin recomendación\";\n\nconst data = $items('Extraer datos especificos')[0].json;\n\nreturn [{\n  json: {\n    city: data.city,\n    temperature: data.temperature,\n    feels_like: data.feels_like,\n    humidity: data.humidity,\n    wind: data.wind,\n    condition: data.condition,\n    recommendation: rec\n  }\n}];"
      },
      "id": "a5d06b31-60b9-4438-aa4e-0f1651059281",
      "name": "Extraer datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "09c14c0e-f799-4eb9-b30a-625b38328de8",
      "name": "Salida",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "weather_queries",
          "mode": "list",
          "cachedResultName": "weather_queries"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "city",
              "value": "={{ $json.city }}"
            },
            {
              "column": "temperature",
              "value": "={{ $json.temperature }}"
            },
            {
              "column": "condition",
              "value": "={{ $json.condition }}"
            },
            {
              "column": "recommendation",
              "value": "={{ $json.recommendation }}"
            },
            {
              "column": "humidity",
              "value": "={{ $json.humidity }}"
            },
            {
              "column": "wind",
              "value": "={{ $json.wind }}"
            },
            {
              "column": "feels_like",
              "value": "={{ $json.feels_like }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4a089d9f-d50a-4516-82a9-42faebba2b69",
      "name": "Guardar datos",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        0,
        224
      ],
      "credentials": {
        "mySql": {
          "id": "HDqW2UUU8jXrUEZu",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Inicio": {
      "main": [
        [
          {
            "node": "Ciudad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar datos": {
      "main": [
        [
          {
            "node": "Extraer coordenadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer coordenadas": {
      "main": [
        [
          {
            "node": "Extraer datos de ciudad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos de ciudad": {
      "main": [
        [
          {
            "node": "Extraer datos especificos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ciudad": {
      "main": [
        [
          {
            "node": "Buscar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos especificos": {
      "main": [
        [
          {
            "node": "Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje": {
      "main": [
        [
          {
            "node": "Extraer datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos": {
      "main": [
        [
          {
            "node": "Guardar datos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d559ab3c-d13a-4cfb-a4b2-572ed4b05db3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "13bcfbc5e9fb81b8ece2217ea7509d7664d808bb1a13a83fc55560fe0f4f2037"
  },
  "id": "F7Z1fmA8credTEAg",
  "tags": []
}
